body {
    background-color: black;
    
}

h1,h2,h3,h4,h5,h6 {
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    
}

p {
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    
}